---
import Footer from "../../components/Footer.astro";
import SearchLayout from "../../layouts/SearchLayout.astro";
import { CollectionPage } from "../../components/CollectionPage";
import type {
  CardCollectionBookmarkDTO,
  CardCollectionBookmarksWithStatusDTO,
  CardCollectionSearchDTO,
} from "../../../utils/apiTypes";
import type { Filters } from "../../components/ResultsPage";

const dataset = import.meta.env.PUBLIC_DATASET as string;
const alwaysRequireAuth = import.meta.env.PUBLIC_ALWAYS_REQUIRE_AUTH as string;

const collectionID = Astro.params.collectionID ?? "";
const requestParams = Astro.request.url.split("?")[1];
const params = new URLSearchParams(requestParams);
const page = Number(params.get("page")) || 1;
const query = params.get("q") ?? "";
const searchType: string = params.get("searchType") ?? "semantic";

// eslint-disable-next-line @typescript-eslint/no-explicit-any
let metadataFilters: any[] = [];

params.forEach((value, key) => {
  if (
    key === "q" ||
    key === "page" ||
    key === "searchType" ||
    key === "Tag Set" ||
    key === "link"
  ) {
    return;
  }

  metadataFilters.push({
    key,
    value,
  });
});

const dataTypeFilters: Filters = {
  tagSet: params.get("Tag Set")?.split(",") ?? [],
  link: params.get("link")?.split(",") ?? [],
  metadataFilters,
  start: "",
  end: "",
};

const apiHost = import.meta.env.PUBLIC_API_HOST as string;
let collectionCards: CardCollectionBookmarksWithStatusDTO = {
  metadata: {
    bookmarks: [],
    collection: {
      id: collectionID,
      name: "",
      description: "",
      is_public: true,
      author_id: "",
      created_at: "",
      updated_at: "",
    },
    total_pages: 0,
  },
  status: 0,
};

let title = "Arguflow Search";
let description = "";

try {
  if (alwaysRequireAuth === "on") {
    throw new Error("Always require auth is on");
  }

  if (query === "") {
    const collectionCardResponse = await fetch(
      `${apiHost}/card_collection/${collectionID}/${page}`,
      {
        method: "GET",
        headers: {
          "AF-Dataset": dataset,
        },
      },
    );
    if (!collectionCardResponse.ok) {
      throw new Error(
        `Failed to fetch collection cards: ${collectionCardResponse.status} ${collectionCardResponse.statusText}`,
      );
    }

    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    const collectionCardJson: CardCollectionBookmarkDTO =
      await collectionCardResponse.json();
    collectionCards = {
      metadata: collectionCardJson,
      status: collectionCardResponse.status,
    };
    title = `${collectionCards.metadata.collection.name} | ` + title;
    if (collectionCards.metadata.collection.description !== "") {
      description = collectionCards.metadata.collection.description;
    }
  } else {
    const collectionCardResponse = await fetch(
      `${apiHost}/card_collection/search/${page}`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "AF-Dataset": dataset,
        },
        credentials: "include",
        body: JSON.stringify({
          content: query,
          tag_set: dataTypeFilters.tagSet,
          link: dataTypeFilters.link,
          // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
          filters: dataTypeFilters.metadataFilters,
          collection_id: collectionID,
          search_type: {
            search_type: searchType,
          },
        }),
      },
    );
    if (!collectionCardResponse.ok) {
      throw new Error(
        `Failed to fetch collection cards: ${collectionCardResponse.status} ${collectionCardResponse.statusText}`,
      );
    }

    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    const collectionCardJson: CardCollectionSearchDTO =
      await collectionCardResponse.json();
    collectionCards = {
      metadata: collectionCardJson,
      status: collectionCardResponse.status,
    };
    title = `🔍${query} | ` + title;
  }
} catch (e) {
  console.error(e);
}
---

<SearchLayout title={title} description={description}>
  <CollectionPage
    collectionID={collectionID}
    page={page}
    defaultCollectionCards={collectionCards}
    query={query}
    filters={dataTypeFilters}
    searchType={searchType}
    client:load
  />
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
