---
import "../global.css";
import { Navbar } from "../components/Atoms/Navbar";
import { isClientEnvsConfiguration } from "../../utils/apiTypes";


const plausibleHost = import.meta.env.PLAUSIBLE_HOST as string;
const dataset = import.meta.env.PUBLIC_DATASET as string;
const ogDescription = import.meta.env.OG_DESCRIPTION as string;

// eslint-disable-next-line @typescript-eslint/no-unsafe-assignment, @typescript-eslint/no-unsafe-member-access
let title = Astro.props.title;
if (!title) {
  title = "Arguflow Search - " + dataset;
} else {
  title = (title as unknown as string) + " - " + dataset;
}

// eslint-disable-next-line @typescript-eslint/no-unsafe-assignment, @typescript-eslint/no-unsafe-member-access
let description: string | null | undefined = Astro.props.description;
if (description == null || description === "") {
  description = ogDescription;
}

let stars = 0;
try {
  const ghStarResponse = await fetch(
    `https://api.github.com/repos/arguflow/arguflow`,
    {
      headers: {
        Accept: "application/vnd.github+json",
        // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
        Authorization: `token ${import.meta.env.GITHUB_TOKEN}`,
      },
    },
  );
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  const ghStarJson = await ghStarResponse.json();
  // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access, @typescript-eslint/no-unsafe-assignment
  stars = ghStarJson.stargazers_count;
} catch (e) {
  console.error(e);
}
---

<html lang="en">
  <head>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker.register("/sw.js").then(
            function (registration) {
              console.log(
                "Service Worker registered with scope:",
                registration.scope,
              );
            },
            function (error) {
              console.log("Service Worker registration failed:", error);
            },
          );
        });
      }
    </script>
    <script>
      import { isClientEnvsConfiguration } from "../../utils/apiTypes";
      try {
        fetch("http://localhost:8090/api/dataset/envs", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            "AF-Dataset": import.meta.env.PUBLIC_DATASET,
          },
        })
          .then((res) =>
            res.json().then((envs) => {
              if (isClientEnvsConfiguration(envs)) {
                localStorage.setItem("clientConfig", JSON.stringify(envs));
              }
            }),
          )
          .catch((e) => console.error(e));
      } catch (e) {
        console.error(e);
      }
    </script>
    <meta charset="UTF-8" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#5E5E5E" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://search.arguflow.ai/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title as unknown as string} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://docs.arguflow.ai/arguflow-og.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="search.arguflow.ai" />
    <meta property="twitter:url" content="https://search.arguflow.ai/" />
    <meta name="twitter:title" content={title as unknown as string} />
    <meta name="twitter:description" content={ogDescription} />
    <meta
      name="twitter:image"
      content="https://docs.arguflow.ai/arguflow-og.png"
    />
    <script
      defer
      data-domain={`${plausibleHost}`}
      src="https://perhaps.arguflow.com/js/script.js"></script>
  </head>
  <body
    class="scrollbar-thin scrollbar-thumb-rounded-md scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600"
  >
    <div
      class="flex min-h-screen flex-col bg-white dark:bg-shark-800 dark:text-white"
    >
      <Navbar stars={stars} dataset={dataset} client:load />
      <slot />
    </div>
  </body>
</html>
