---
import SearchForm from "../components/SearchForm";
import Footer from "../components/Footer.astro";
import type {
  CardMetadataWithVotes,
  UsersWithTotalPagesDTO,
} from "../../utils/apiTypes";
import type { Filters } from "../components/ResultsPage";
import HomeLayout from "../layouts/HomeLayout.astro";
import { RecentCardsTable } from "../components/RecentCardsTable";
import { FirstVisitPopUp } from "../components/FirstVisitPopUp";

const apiHost = import.meta.env.API_HOST as string;

const requestParams = Astro.request.url.split("?")[1];
const params = new URLSearchParams(requestParams);
const page = Number(params.get("page")) || 1;
const filters: Filters = {
  dataTypes: params.get("datatypes")?.split(",") ?? [],
  links: params.get("links")?.split(",") ?? [],
};
const searchType: string = params.get("searchType") ?? "search";

let topUsersWithPages: UsersWithTotalPagesDTO = {
  total_user_pages: 1,
  users: [],
};
let recentCards: CardMetadataWithVotes[] = [];
try {
  const topUsersPromise = fetch(`${apiHost}/top_users/${page}`)
    .then((response) => response.json())
    .then((topUsersCardsResult) => {
      topUsersWithPages = topUsersCardsResult as UsersWithTotalPagesDTO;
    });

  const recentCardsPromise = fetch(`${apiHost}/recent_cards/${page}`)
    .then((response) => response.json())
    .then((recentCardsResult) => {
      recentCards = recentCardsResult as CardMetadataWithVotes[];
    });

  await Promise.all([topUsersPromise, recentCardsPromise]);
} catch (e) {
  console.error(e);
}
---

<HomeLayout>
  <FirstVisitPopUp client:only />
  <div class="space-y mt-12 flex w-full flex-col items-center">
    <div class="flex w-full items-center justify-center">
      <a class="flex items-center justify-center" href="/">
        <img class="w-12" src="/logo_transparent.png" alt="Logo" />
        <h1 class="text-4xl">
          Arguflow<span class="text-magenta">Search</span>
        </h1>
      </a>
    </div>
    <div class="text-center text-lg">
      Discover More with <a
        href="https://en.wikipedia.org/wiki/Semantic_search"
        class="text-turquoise-500 underline dark:text-acid-500"
        >Semantic Search</a
      >: Find Meaningful Results, Not Just Exact Matches
    </div>
    <div class="mt-8 w-full max-w-4xl px-4 sm:px-8 md:px-20">
      <SearchForm filters={filters} searchType={searchType} client:load />
    </div>
  </div>
  <div class="flex flex-col space-y-12 my-16 sm:my-24">
    <RecentCardsTable recentCards={recentCards} client:load />
    <div class="mx-auto w-full max-w-4xl px-4 sm:px-8 md:px-20">
      <div class="rounded bg-neutral-100 p-4 dark:bg-neutral-700 sm:p-6 lg:p-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1
              class="text-base font-semibold leading-6 text-neutral-900 dark:text-neutral-100"
            >
              Top Contributors
            </h1>
            <p class="mt-2 text-sm text-neutral-700 dark:text-neutral-200">
              A list of all contributors ranked by their cumulative point
              totals.
            </p>
          </div>
        </div>
        <div class="mt-2">
          <table
            class="min-w-full divide-y divide-neutral-400 dark:divide-neutral-800"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-neutral-900 dark:text-neutral-100 sm:pl-0"
                  >Username</th
                >
                <th
                  scope="col"
                  class="hidden px-3 py-3.5 text-left text-sm font-semibold text-neutral-900 dark:text-neutral-100 sm:table-cell"
                  >Website</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-neutral-900 dark:text-neutral-100"
                  >Cumulative Points</th
                >
              </tr>
            </thead>
            <tbody class="divide-y divide-neutral-300 dark:divide-neutral-600">
              {
                // eslint-disable-next-line solid/prefer-for
                topUsersWithPages.users.map((user_with_score) => (
                  <tr>
                    <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-neutral-900 dark:text-neutral-100 sm:w-auto sm:max-w-none sm:pl-0">
                      <a
                        href={`/user/${user_with_score.id}`}
                        class="line-clamp-1 break-all text-turquoise-600 underline dark:text-acid-500"
                      >
                        {user_with_score.username ?? user_with_score.email}
                      </a>
                      <dl class="font-normal lg:hidden">
                        <dt class="sr-only sm:hidden">Website</dt>
                        <dd class="mt-1 line-clamp-1 truncate break-all text-neutral-800 dark:text-neutral-100 sm:hidden">
                          <a
                            target="_blank"
                            class="underline"
                            href={user_with_score.website}
                          >
                            {user_with_score.website}
                          </a>
                        </dd>
                      </dl>
                    </td>
                    <td class="hidden px-3 py-4 text-sm text-neutral-800 dark:text-neutral-100 sm:table-cell">
                      <a
                        target="_blank"
                        class="line-clamp-1 break-all  underline"
                        href={user_with_score.website}
                      >
                        {user_with_score.website}
                      </a>
                    </td>
                    <td class="line-clamp-1 break-all px-3 py-4 text-sm text-neutral-800 dark:text-neutral-100">
                      {user_with_score.score}
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1"></div>
  <Footer />
</HomeLayout>
